
<%= form_for([:admin, @movie], html: {class: 'form-horizontal'}) do |f| %>
  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "title", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field "title", class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "release_date", "Release Date", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"> 
      <%= f.date_field "release_date", class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "director", "Director", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field "director", class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "runtime_in_minutes", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field "runtime_in_minutes", class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "poster", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.file_field "poster" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "description", "Description", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field "description", class:"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default"%>
    </div>
  </div>
<% end %>



